@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(slide-left) {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@include keyframes(auto-scroll-horizontal) {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}
