.branch {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-white);
  padding: 48px 24px;

  .section {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;


    .text_container {
      text-align: center;
      

      .title {
        font-size: 24px;
        font-weight: 700;
      }

      .description {
        color: #5a5a5a;
      }
    }

    .map_container {
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
    }
  }
}
